* {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
  }

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline: 2px solid #7943A4;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1630px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  padding: 17px 35px;
  font-weight: bold;
  font-size: 18px;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  cursor: pointer;
  background: transparent;
}

.btn:focus {
  outline: 2px solid #7943A4;
}

.heading {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
}

.desc {
  max-width: 1080px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.lable {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}


/* Header */

.header {
  width: 100%;
  position: relative;
}

.header__top {
  background-color: #000000;
}

.header__top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__top__left {
  max-width: 1160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img-logo {
  width: 173px;
  height: 40px; 
}

.header__nav {
  max-width: 896px;
  width: 100%;
}

.header__nav__list {
  max-width: 100%;
  display: flex;  
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  justify-content: space-between;
}

.header__nav__link {
  color: #ffffff;
}

.header__nav__link:hover {
  color: #C283F3;
}

.header__nav__link:active {
  color: #7943A4;
}

.header__login {
  cursor: pointer;
  height: 19px;
}

.login__btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: none;
}

.login__btn:focus {
  outline: 2px solid #7943A4;
}

.login__btn:hover {
  color: #C283F3;
}

.login__btn:hover svg path {
  fill: #C283F3;
}

.login__btn:active {
  color: #9D5CD0;
}

.login__btn:active svg path {
  fill: #9D5CD0;
}

.header__botton{
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 28px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  max-width: 1026px;
  width: 100%;
}

.menu__list__item {
  position: relative;
}

.drop-btn {
  padding-right: 16px;
  background: none;
  border: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}

.drop-btn::after {
  content: "";
  background-image: url(../img/arrow-bottom-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 13px;
  width: 13px;
  right: 0px;
  top: 6px;
}

.drop-btn:focus {
  outline: 2px solid #7943A4;
}

.drop-btn:hover {
  color: #9D5CD0;
}

.drop-btn:active {
  color: #7943A4;
}

.dropdown {
  display: none;
}

.dropdown_active {
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  padding: 40px 40px 20px 40px;
  background: rgba(0, 0, 0, 0.8);
}

.dropdown__item {
  width: 220px;
  height: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropdown__item:hover {
  outline: 2px solid #9D5CD0;
}

.dropdown__item:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
}

.tintoretto {
  background-image: url(../img/select-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fridrih {
  background-image: url(../img/select-img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.dropdown__link {
  padding: 9px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.dropdown .dropdown__item > .dropdown__link {
  display: block;
}

.search {
  position: relative;
  cursor: pointer;
}

.search__icon {
  position: absolute;
  left: -35px;
  top: 4px;
}

.search__icon:focus {
  outline: 2px solid #7943A4;
}

.search:hover .search__inner .search__icon rect,
.search:hover .search__inner .search__icon path {
  fill: #C283F3;
}

.search__input {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  font-size: 18px;
  line-height: 25px;
  width: 218px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85); 
}

.search__input:focus {
  outline: 2px solid #7943A4;
}

.search__input:hover {
  border-bottom: 1px solid #C283F3;
}

.search__input::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.85);}
.search__input::-moz-placeholder          {color:rgba(255, 255, 255, 0.85);}/* Firefox 19+ */
.search__input:-moz-placeholder           {color:rgba(255, 255, 255, 0.85);}/* Firefox 18- */
.search__input:-ms-input-placeholder      {color:rgba(255, 255, 255, 0.85);}

/* Main */
/* Hero */

.hero {
  background-image: url(../img/Hero1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-hero {
  padding-top: 133px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 1px;
  max-width: 597px;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #FFFFFF;
}

.hero__desc {
  margin-bottom: 92px;
  max-width: 579px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__btn {
  display: inline-block;
  margin-bottom: 165px;
  padding: 19.5px 32px;
  background-color: #9D5CD0;
  color: #FFFFFF;
  border: 3px solid #9D5CD0;
}

.hero__btn:focus {
  border: 3px solid #FFFFFF;
  outline: none;
  box-shadow: 0 0 0 2px #C283F3;  
}

.hero__btn:hover {
  border: 3px solid #D1A9F0;
}

/* About Us */

.about-us__inner {
  padding: 80px 0;
}

/* Gallery */

.gallery {
  background-image: url(../img/Gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__inner {
  display: flex;
  padding: 80px 0 30px;
  justify-content: space-between;
}

.gallery__inner .heading {
  color: #FFFFFF;
}

.gallery__info {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
}

.gallery__info__desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.gallery__link-authorization {
  display: inline-block;
  color: #9D5CD0;
  border-bottom: 1px solid transparent;
}

.gallery__link-authorization:focus {
  outline: 2px solid #7943A4;
}

.gallery__link-authorization:hover {
  border-bottom: 1px solid #9D5CD0;
}

.gallery__link-authorization:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.block-pictures {
  position: relative;
  cursor: pointer;
}

.gallery__lupa {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 25px;
  left: 25px;
  opacity: 0;
}

.gallery__lupa__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery__lupa:hover {
  opacity: 1;
}


/* Catalog */

.catalog__inner {
  padding: 80px 0 0px;
}

.catalog__top {
  display: flex;
}

.countries__list {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.countries__item {
  width: 56px;
  height: 56px;
  margin-left: 30px;
  cursor: pointer;
  padding: 8px;
}


.countries__item:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  border-radius: 29px;
}

.countries__item_activ {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.countries__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
}

.countries__france {
  background-image: url(../img/catalog/france.png);
}

.countries__germany {
  background-image: url(../img/catalog/germany.png);
}

.countries__italy {
  background-image: url(../img/catalog/italy.png);
}

.countries__russia {
  background-image: url(../img/catalog/russia.png);
}

.countries__belgium {
  background-image: url(../img/catalog/belgium.png);
}

.countries__img:focus {
  outline: 2px solid #9D5CD0;
}

.countries__img:active {
  border: 2px solid #9D5CD0;
  border-radius: 50%;
}

.catalog__country {
  display: none;
}

.catalog__country_activ {
  display: block;
}

.catalog__desc {
  margin-bottom: 50px;
}

.painters {
  display: flex;
}

.painters__info {
  display: none;
  max-width: 750px;
  padding-bottom: 485px;
}

.painters__info_activ {
  display: block;
}

.painters__img {
  margin-bottom: 30px;
}

.painters__name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.painters__years-of-life {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.chronology {
  max-width: 800px;
  width: 100%;
  margin-left: 50px;
}

.ui-widget {
  font-family: 'Open Sans', Arial, sans-serif;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #CACACA;
  border-radius: 0;
  outline: none;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 44px;
}

.accordion__header h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 0;
}

.accordion__header span {
  width: 50px;
  height: 50px;
  background-color: #ECECEC;
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.ui-accordion .ui-accordion-header:first-child {
  border-top: 1px solid #CACACA;
}

.ui-icon {
  display: none;
}

.ui-widget-content {
  border: none; 
  border-bottom: 1px solid #9D5CD0;
  border-radius: 0;
}
.ui-accordion .ui-accordion-content {
  border-top: 1px solid #9D5CD0;
}

.accordion__inner {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.accordion__inner ul li {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  cursor: pointer;
}

.accordion__inner ul li:focus {
  outline: 2px solid #7943A4;
}

.accordion__inner ul li:hover {
  font-weight: 600;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.accordion__inner ul li:active {
  font-weight: 600;
  color: #7943A4;
  border-bottom: none;
}

.accordion__arrow::before {
  position: absolute;
  content: "";
  background-image: url(../img/arrow-bottom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 9px;
  top: 20px;
  right: 16px;
}

.ui-state-active .accordion__arrow::before {
  transform: rotate(180deg);
}

.accordion__header:focus {
  outline: 2px solid #7943A4;
}

.accordion__header:hover h3 {
  color: #9D5CD0;
}

.accordion__header:hover span {
  background: #9D5CD0;
}

.accordion__header:hover .accordion-arrow::before {
  color: #FFFFFF;
}

.accordion__header:active h3 {
  color: #7943A4;
}

.accordion__header:active span {
  background: #7943A4;
}

/* Events */

.events__inner {
  padding: 0px 0px 80px;
}

.events__block {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.event {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 100%;
  line-height: 0;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}

.event:not(:nth-child(3)) {
  margin-right: 50px;
}

.event__info { 
  padding: 13px 19px 96px 50px; 
}

.event__date {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.event__heading {
  max-width: 420px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}

.event__desc {
  max-width: 400px;
  margin-bottom: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.event__link {
  position: absolute;
  bottom: 0px;
  margin-bottom: 43px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.event__link:focus {
  outline: 2px solid #7943A4;
}

.event__link:hover {
  font-weight: bold;
}

.event__link:active {
  color: #7943A4;
  font-weight: bold;
}

.events__btn {
  margin: 50px auto 0;
}

.events__btn:hover {
  background: #9D5CD0;
  color: #FFFFFF;
}

.events__btn:active {
  background: #7943A4;
  color: #FFFFFF;
}

.hidden-event1,
.hidden-event2 {
  display: none;
  margin-top: 50px;
}

/* Editions */

.editions {
  background-image: url(../img/editions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.editions__inner {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.editions__left {
  max-width: 292px;
  width: 100%;
}

.editions__heading {
  color: #FFFFFF;
}

.lable-categories {
  margin-bottom: 15px;
}

.categories-list {
  display: flex;
  flex-direction: column;
}

.lable-check {
  width: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.check-text {
  display: flex;
  align-items: center;
  padding-left: 24px;
  color: #FFFFFF;
}

.check-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  transform: translateY(-50%);
}

.check-text::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 14px;
  width: 4px;
  height: 4px;
  background-color: #C283F3;
  opacity: 0;
  border-radius: 50%;
}

.checkbox:checked + .check-text {
  color: #C283F3;
}
.checkbox:checked + .check-text::after {
  opacity: 1;
}

.checkbox:checked + .check-text::before {
  border: 1px solid #C283F3;
}

.checkbox:focus + .check-text {
  outline: 2px solid #7943A4;
}

.checkbox:hover + .check-text {
  color: #C283F3;
}

.checkbox:hover + .check-text::before {
  border: 1px solid #C283F3;
}

.checkbox:active + .check-text {
  color: #7943A4;
}

.checkbox:active + .check-text::before {
  border: 1px solid #7943A4;
}



.lable-price {
  margin-top: 32px;
  margin-bottom: 10px;
}

.price-filter {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 4px 10px;
}

.min-price, .max-price {
  background: rgba(157, 92, 208, 0.5);
  border: none;
  color: #FFFFFF;
  max-width: 73px;
  height: 100%;
  padding: 4px 10px 7px;
  margin: 0px 10px;
}

.editions__right {
  position: relative;
}

.editions__block img {
  width: 350px;
}

.editions__info {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

.editions__name, .editions__author {
  margin-bottom: 0;
}

.editions__author, .editions__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.editions__btn {
  margin-top: 20px;
  padding: 8px 14px;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.editions__btn:focus {
  outline: 2px solid #C283F3;
}

.editions__btn:hover {
  background: #9D5CD0;
}

.editions__btn:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

/* Projects */

.projects__inner {
  padding: 80px 0;
  position: relative;
}


.projects__info {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #9D5CD0;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.projects__info__desc1,
.projects__info__desc2,
.projects__info__desc3 {
  position: absolute;
  background: #CACACA;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 11px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.projects__info__desc1 {
  top: 220px;
  left: 24px;
  width: 264px;
}

.projects__info__desc2 {
  width: 264px;
  top: 235px;
  left: 735px;
}

.projects__info__desc3 {
  width: 232px;
  top: 300px;
  left: 200px;
}

.projects__info__desc1::after,
.projects__info__desc2::after,
.projects__info__desc3::after {
  content: ''; 
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -18px;
  border: 10px solid transparent;
  border-top: 20px solid #CACACA;
  z-index: -1;
}

.projects__info:hover + .projects__info__desc1,
.projects__info:hover + .projects__info__desc2,
.projects__info:hover + .projects__info__desc3 {
  opacity: 1;
}

.projects__link {
  font-weight: 600;
  color: #9D5CD0;
  border-bottom: 1px solid transparent;
}

.projects__link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.projects__link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.partners-heading {
  margin-top: 30px;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.img-partner {
  max-width: 450px;
  max-height: 150px;
  filter: grayscale(100%);
  cursor: pointer;
}

.img-partner:hover {
  filter: none;
}

/* Contacts */

.contacts__heading {
  margin-bottom: 30px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contacts__info {
  max-width: 700px;
  width: 100%;
  padding: 124px 122px 102px 0;
}

.name-shop {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.adress-shop {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.contacts__lable {
  display: block;
  margin-bottom: 19px;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.form__input {
  display: block;
  width: 400px;
  margin-bottom: 22px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid #333333;
  border-radius: 100px;
}

.form__input::-webkit-input-placeholder {color: #999999;}
.form__input::-moz-placeholder          {color: #999999;}/* Firefox 19+ */
.form__input:-moz-placeholder           {color: #999999;}/* Firefox 18- */
.form__input:-ms-input-placeholder      {color: #999999;}

.form__input:focus {
  outline: 2px solid #7943A4;
}

.form__btn {
  margin-bottom: 55px;
}

.form__btn:hover {
  background: #9D5CD0;
  color: #FFFFFF;
}

.form__btn:active {
  background: #7943A4;
}

.icon-whatsapp {
  margin-right: 20px;
}

.contacts__icon:hover {
  transform: scale(1.2,1.2);
}

.map {
  position: absolute;
  right: -150px;
  top: 0;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Footer */

.footer {
  background-color: #000000;
  padding: 50px 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__link-block {
  max-width: 174px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__link:hover {
  transform: scale(1.2,1.2);
}